<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/add.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="btn"><a href="{% url 'home' %}">Home</a></div>
            <div class="btn"><a href="{% url 'search_films' %}">Search</a></div>
            <div class="btn"><a href="{% url 'add' %}">Add Review</a></div>
            <div class="btn"><a href="{% url 'show' %}">Review List</a></div>
            <div class="btn"><a href="{% url 'login' %}">Log Out</a></div>
        </div>
        <form method="POST" action="/log/">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.title.label_tag }} {{ form.title }}
            {{ form.message.label_tag }} {{ form.message }}
            <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label for="star5" title="5 stars">&#9733;</label>

                <input type="radio" id="star4" name="rating" value="4" />
                <label for="star4" title="4 stars">&#9733;</label>

                <input type="radio" id="star3" name="rating" value="3" />
                <label for="star3" title="3 stars">&#9733;</label>

                <input type="radio" id="star2" name="rating" value="2" />
                <label for="star2" title="2 stars">&#9733;</label>

                <input type="radio" id="star1" name="rating" value="1" />
                <label for="star1" title="1 star">&#9733;</label>
            </div>
            <button type="submit" class="custom-log-button"><a href="{% url 'show' %}">Add Review</button>
        </form>
    </main>
</body>
</html>